A:link{text-decoration:none;}
A:visited{text-decoration:none;}
A:active{text-decoration:none;}

/* 遮罩颜色和透明度 */
.window-proxy-mask, .window-mask {
	background: black;
	opacity: 0.6;
}

/* 弹出框样式 */
.messager-window{
	background: rgb(250, 250, 250);
}
.messager-window .dialog-button{
	border: none;
}
.messager-window .window-body{
	border: none;
}
.dialog-button{
	background: rgb(250, 250, 250);
}

/* panel样式 */
/* .panel-header{
	border-radius:10px 10px 0 0;
	padding:15px;
}

.panel-body{
	border-radius:0 0 10px 10px;
}

.panel-title{
	font-weight: normal;
	font-size: 14px;
} */
